@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: #f5f6fa !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Titillium Web', sans-serif; */
}
* { box-sizing: border-box; }
a { color: #044ad8 !important; text-decoration: none; }
a:visited { color: #6a06c5 !important; }
a:hover{text-decoration: underline;}